@model Brand

<h1>Edit Brand</h1>

<form asp-action="Edit" asp-route-id="@Model.BrandId" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="BrandId" />

    <div class="form-group">
        <label asp-for="BrandName" class="control-label"></label>
        <input asp-for="BrandName" class="form-control" />
        <span asp-validation-for="BrandName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BrandDesc" class="control-label"></label>
        <input asp-for="BrandDesc" class="form-control" />
        <span asp-validation-for="BrandDesc" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>